In [15]:
import pandas as pd
import sys
from IPython.display import clear_output


def load_large_dta(fname):
    reader = pd.read_stata(fname, iterator=True, convert_categoricals=False)
    df = pd.DataFrame()

    try:
        chunk = reader.get_chunk(100 * 1000)
        while len(chunk) > 0:
            df = df.append(chunk, ignore_index=True)
            chunk = reader.get_chunk(100 * 1000)
            print(".")
            sys.stdout.flush()
    except (StopIteration, KeyboardInterrupt):
        pass

    # 处理重复标签问题
    for col in df.select_dtypes(include="category").columns:
        df[col] = df[col].astype("category").remove_unused_categories()

    print("\nloaded {} rows".format(len(df)))

    return df

In [16]:
df_2003_df = "D:\\The-Trends-of-Social-Changes-in-China\\cgss2003.dta"
df_2003 = load_large_dta(df_2003_df)
df_2003.to_csv("D:\\The-Trends-of-Social-Changes-in-China\\cgss2003.csv")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19892\2135620930.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk, ignore_index=True)

loaded 5894 rows

In [14]:
df_2008_df = "D:\\The-Trends-of-Social-Changes-in-China\\cgss2008.dta"
df_2008 = load_large_dta(df_2008_df)
df_2008.to_csv("D:\\The-Trends-of-Social-Changes-in-China\\cgss2008.csv")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19892\4122828458.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk, ignore_index=True)

loaded 6000 rows

In [18]:
df_2018_df = (
    "D:\\The-Trends-of-Social-Changes-in-China\\data\\source_data\\CGSS2018_PUBLIC.dta"
)
df_2018 = load_large_dta(df_2018_df)
df_2018.to_csv(
    "D:\\The-Trends-of-Social-Changes-in-China\\data\\cleaned_data\\cgss2018.csv"
)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19892\2135620930.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk, ignore_index=True)

loaded 12787 rows

In [19]:
df = pd.read_csv(
    "D:\\The-Trends-of-Social-Changes-in-China\\data\\cleaned_data\\cgss2018.csv"
)
df.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19892\3040656215.py:1: DtypeWarning: Columns (186,188,191,223,224,225,245,249,253,264,267,270,273,359,382,399,421,436,438,441,446,457,473,475,478,491,494,497,504,532,587,604,606,610,621,643,650,654,661,670,679,683,690,694,701,705,712,716,718,720,722,728,733,737,749,752,770,793,816,978,988,999,1009) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,Unnamed: 0,id,provinces,community_i,type,a00,a01021,a01022,a01023,a01024,...,a62,a75a,a75b,isco08_a59d,isco08_a60d,isco08_sp,isco08_f,isco08_m,weight,weight_raking
0,0,1.0,北京市,1101064,1.0,2018-08-02 16:08:00,1.0,2.0,NaN,NaN,...,9999998.0,40000.0,0.0,NaN,4110.0,NaN,8211.0,NaN,1.046890,0.364934
1,1,2.0,北京市,1101142,1.0,2018-07-28 16:03:00,1.0,NaN,NaN,NaN,...,100000.0,40000.0,0.0,NaN,2221.0,NaN,7221.0,6100.0,1.135081,0.389883
2,2,3.0,北京市,1101056,1.0,2018-08-26 15:02:00,NaN,NaN,NaN,NaN,...,500000.0,NaN,NaN,4211.0,NaN,NaN,4110.0,NaN,0.618875,0.457842
3,3,5.0,北京市,1101151,1.0,2018-08-23 15:11:00,1.0,NaN,NaN,NaN,...,300000.0,0.0,0.0,4312.0,NaN,2420.0,4311.0,6110.0,0.785167,0.348734
4,4,9.0,北京市,1101172,1.0,2018-08-17 11:05:00,2.0,1.0,2.0,NaN,...,90000.0,10000.0,0.0,5414.0,NaN,NaN,6100.0,6100.0,0.787849,0.381773

In [20]:
df.columns

Index(['Unnamed: 0', 'id', 'provinces', 'community_i', 'type', 'a00', 'a01021',
       'a01022', 'a01023', 'a01024',
       ...
       'a62', 'a75a', 'a75b', 'isco08_a59d', 'isco08_a60d', 'isco08_sp',
       'isco08_f', 'isco08_m', 'weight', 'weight_raking'],
      dtype='object', length=1033)

In [21]:
df.info

<bound method DataFrame.info of        Unnamed: 0       id provinces  community_i  type                  a00  \
0               0      1.0       北京市      1101064   1.0  2018-08-02 16:08:00
1               1      2.0       北京市      1101142   1.0  2018-07-28 16:03:00
2               2      3.0       北京市      1101056   1.0  2018-08-26 15:02:00
3               3      5.0       北京市      1101151   1.0  2018-08-23 15:11:00
4               4      9.0       北京市      1101172   1.0  2018-08-17 11:05:00
...           ...      ...       ...          ...   ...                  ...
12782       12782  15420.0   宁夏回族自治区      6403244   2.0  2018-08-08 09:29:00
12783       12783  15421.0   宁夏回族自治区      6403244   2.0  2018-08-11 13:50:00
12784       12784  15422.0   宁夏回族自治区      6403244   2.0  2018-08-10 15:09:00
12785       12785  15423.0   宁夏回族自治区      6403243   2.0  2018-08-12 17:19:00
12786       12786  15424.0   宁夏回族自治区      6403244   2.0  2018-08-10 12:05:00

       a01021  a01022  a01023  a01024  ...        a62      a75a      a75b  \
0         1.0     2.0     NaN     NaN  ...  9999998.0   40000.0       0.0
1         1.0     NaN     NaN     NaN  ...   100000.0   40000.0       0.0
2         NaN     NaN     NaN     NaN  ...   500000.0       NaN       NaN
3         1.0     NaN     NaN     NaN  ...   300000.0       0.0       0.0
4         2.0     1.0     2.0     NaN  ...    90000.0   10000.0       0.0
...       ...     ...     ...     ...  ...        ...       ...       ...
12782     1.0     1.0     2.0     1.0  ...    12000.0   12000.0   12000.0
12783     1.0     1.0     2.0     NaN  ...   100000.0  100000.0  100000.0
12784     1.0     1.0     2.0     NaN  ...    40000.0   40000.0   40000.0
12785     1.0     2.0     1.0     NaN  ...    20000.0   20000.0   20000.0
12786     1.0     1.0     2.0     2.0  ...    10000.0    6000.0    6000.0

       isco08_a59d  isco08_a60d  isco08_sp  isco08_f  isco08_m    weight  \
0              NaN       4110.0        NaN    8211.0       NaN  1.046890
1              NaN       2221.0        NaN    7221.0    6100.0  1.135081
2           4211.0          NaN        NaN    4110.0       NaN  0.618875
3           4312.0          NaN     2420.0    4311.0    6110.0  0.785167
4           5414.0          NaN        NaN    6100.0    6100.0  0.787849
...            ...          ...        ...       ...       ...       ...
12782          NaN          NaN     9313.0    6111.0    6111.0  3.132411
12783          NaN          NaN     7215.0    2341.0    6111.0  2.088274
12784          NaN          NaN     7215.0    6111.0    6111.0  2.088274
12785          NaN          NaN        NaN    6100.0    6100.0  1.046890
12786          NaN       9212.0        NaN    9332.0    6111.0  1.308612

       weight_raking
0           0.364934
1           0.389883
2           0.457842
3           0.348734
4           0.381773
...              ...
12782       5.943931
12783       7.032731
12784       2.888155
12785       0.423226
12786       0.625865

[12787 rows x 1033 columns]>